<a class="mban" href="/" target="_blank">
	<u class="abg_wrap">
		<span class="abg_top">
			<span class="abg_md"><i>Матч дня</i></span>
			<u class="abg_i1">
			  <img src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"/>
			  <b>Virtus.Pro</b>
			</u>
			<u class="abg_i2">
			  <img src="http://game-tournaments.com/media/logo/pic-20161009-256x256-7743742014.png"/>
			  <b>Horde</b>
		    </u>
			<u class="kmob">
              <i class="gti-chevron-down red"></i> 1.1 - 
				2.1 <i class="gti-chevron-up green"></i>
			</u>
			
		</span>
		
		<span class="dobet">
          <span class="ggbet"></span>
          <span class="abg_btn">Сделать ставку</span>
          <span class="ggbetT">ставки на киберспорт на лучших условиях</span>
        </span>
        
        <span class="abg_mt">
          <b>Dota 2 Best of 2</b>
          The Boston Major<br>
          Open Qualifiersr, Europe #1, 1/4
        </span>
	</u>
</a>