<a class="abg" href="/go?to={{banner.top.id}}&br&m={{banner.site[game.id].gt_id}}" target="_blank">
	<u class="abg_wrap">
		<span class="abg_top">
			<span class="abg_md"><i>Матч дня</i></span>
			<u class="abg_i1"><img src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"/></u>
			<u class="abg_i2"><img src="http://game-tournaments.com/media/logo/pic-20161110-300x300-2206743285.png"/></u>
			<u class="kmob">
				1.1 &uarr;  - 
				2.1 &darr;
			</u>
			{#
			<span class="betMob">
              <span class="abg_btn">Сделать ставку</span>
              <span class="ggbet"></span>
              <span class="ggbetT"></span>
              <span class="ggbetT">ставки на<br>киберспорт<br>на лучших<br>условиях</span>
		    </span>
		    #}
		</span>
		<span class="abg_left">
            <u>
				<span class="abg_mp"><img src="http://game-tournaments.com/media/tournament/pic-20160309-280x80-3427731343.png"/></span>
				<span class="abg_mt">The Summit 6<br>Playoff, Upper Bracket, Round 1</span>
            </u>
			<span class="abg_kf kf_up">1.73<b>коэффициент</b></span>
			<span class="abg_t1">
				<img src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png">
				<b>Virtus.Pro</b>
			</span>
			<span class="abg_btn">Сделать ставку</span>
			<span class="ggbet"></span>
			<span class="ggbetT"></span>
			<span class="ggbetT">ставки на<br>киберспорт<br>на лучших<br>условиях</span>
		</span>
        <span class="abg_right">
			<u class="abg_game">
				<span><img src="http://game-tournaments.com/html/img/logo-582.png"></span>
				<b>Dota 2</b>
			</u>
			<span class="abg_day"><b>16</b>ноября<br>2016<br>21:00 MSK</span>
			<span class="abg_kf">2.39<b>коэффициент</b></span>
			<span class="abg_t2">
				<img src="http://game-tournaments.com/media/logo/pic-20161110-300x300-2206743285.png">
				<b>EHOME</b>
			</span>
			<span class="abg_btn">Сделать ставку</span>
			<span class="ggbet"></span>
			<span class="ggbetT">ставки на<br>киберспорт<br>на лучших<br>условиях</span>
		</span>
	</u>
</a>