
<!-- bgad NEW -->
<a class="bgad" 
  href="/go?to={{banner.top.id}}&br&m={{banner.site[game.id].gt_id}}" target="_blank" 
  style="background:url(../img/br/Desktop_1920x1975_En.jpg) no-repeat scroll 50% 0px #000; background-size: 109%;" >
</a>
<style>
.bgad{
    display: block;
    height: 100%;
    position: fixed;
    top: 0px;
  left:0;
  right:0;
  bottom:0;
    width: 100%;
    z-index: 1;
}
.g582 .bgad,
.g704 .bgad,
.g100 .bgad,
.g313 .bgad,
.g800 .bgad,
.g755 .bgad{
  top: 40px;
}
body .mainwrap {
  /* padding-top: 260px; */
}
  
@media (max-width: 1200px) {
  body .mainwrap {
    /* padding-top: 260px; */
  }
}
@media (max-width: 991px) {
  body .mainwrap {
    padding-top: 106px !important
  }
  .bgad{
    background: url(../img/br/Banner1_Dota2_Mob_370x76_Gif2_En.gif) no-repeat scroll 0 0px #000 !important;
    background-size: auto;
    background-size: contain !important;
    height: 80px;
    top: 40px;
  }
  .br-top{
    display: none;
  }
  .g582 .bgad,
  .g704 .bgad,
  .g100 .bgad,
  .g313 .bgad,
  .g800 .bgad,
  .g755 .bgad{
    top: 10px;
  }
}

</style>

<!-- bgad NEW end -->