<!-- footer.html -->

<footer class="footer">
  <div class="f-coppy">
    <copy>© 2013-2016 GGscore</copy> &bull;
    <span>ALL RIGHTS RESERVED. GAMEAGEVENTURES LLP</span>
  </div>
  <ul class="f-menu">
    <li><a href="">О проекте</a></li>
    <li><a href="">Правила</a></li>
    <li><a href="">Реклама</a></li>
    <li><a href="">Партнеры</a></li>
  </ul>
  <div class="f-soc">
    Мы в соцсетях &nbsp;&nbsp;
    <a class="soclink" href=""><i class="gti-vk"></i></a>
    <a class="soclink" href=""><i class="gti-facebook"></i></a>
    <a class="soclink" href=""><i class="gti-twitter"></i></a>
  </div>
</footer>