<div class="box livebet lsoon-div lsoon-div-2">
  <a class="ggbhead" href="/go?to=gg&amp;b" onclick="yaCounter30589062.reachGoal('koef'); return true;" target="_blank"></a>
  <h3>Live ставки</h3>
  <div id="live_odds">
    <table class="table table-striped table-condensed">
      <tbody><tr>
        <td colspan="5" class="livetop">
          <b class="livebetpin"></b>
          <noindex><a rel="nofollow" href="http://betahit.click/gg/bet/?mid=836642&amp;param=game-tournaments_livefeed" target="_blank">
          {#<i class="gti-trophy"></i>#}<span>Acion Arena</span> vs <span>Next Generation</span></a></noindex>
        </td>
      </tr>
      <tr>
        <td class="livebet_do">
            <div>
                Winner Map 2
                <noindex><a rel="nofollow" href="http://betahit.click/gg/bet/?mid=836642&amp;param=game-tournaments_livefeed" target="_blank" class="btn btn-success btn-xs">Сделать ставку</a></noindex>
            </div>
        </td>
        <td align="right"><span class="teamname c1"><b>Acion Arena</b></span></td>
        <td class="livetd">2.75</td>
        <td class="livetd">1.41</td>
        <td><span class="teamname"><b>Next Generation</b></span></td>
      </tr>
      <tr>
        <td class="livebet_do">
            <div>
                Odd/Even Kills (map 2)
                <noindex><a rel="nofollow" href="http://betahit.click/gg/bet/?mid=836642&amp;param=game-tournaments_livefeed" target="_blank" class="btn btn-success btn-xs">Сделать ставку</a></noindex>
            </div>
        </td>
        <td align="right"><span class="teamname c1"><b>Odd</b></span></td>
        <td class="livetd">1.86</td>
        <td class="livetd">1.86</td>
        <td><span class="teamname"><b>Even</b></span></td>
      </tr>
    </tbody></table>
    <a class="ablive abliveVertical" target="_blank" href="/go?to=gg&amp;b&amp;m=39002">
      <u class="abl_mtr">
        <span class="abl_mp">
            <b class="abl_mt">The Summit 6<br>Playoff, Upper Bracket, Round 1</b>
        </span>
      </u>
      <span class="abl_tms">
        <span class="abl_md"><i>Матч дня</i></span>
        <u class="abl_i1"><img src="http://game-tournaments.com/media/logo/pic-20150825-340x216-3370444942.png"></u>
        <u class="abl_i2"><img src="http://game-tournaments.com/media/logo/pic-20161110-600x600-5478339632.png"></u>
        <u class="abl_t1"><b>DC</b></u>
        <u class="abl_k1">1.96</u>
        <u class="abl_t2"><b>OG</b></u>
        <u class="abl_k2">1.82</u>
        <span class="abl_day1"><b>17</b> ноября 2016 21:00 MSK</span>
        <span class="abl_btn">Сделать ставку</span>
        <span class="ggbetL"></span>
      </span>
    </a>
    <div class="livetext">
      <b><b>100%</b> бонус на первый депозит<br><b>500</b> рублей фрибет в подарок</b>
    </div>
  </div>
</div>