{% set rand = ['13', '24', '35', '24', '51', '46'] %}
<!-- Site Sripts -->
<script src="./inc/main.js"></script>
<!-- <script src="./inc/func_init.js"></script> -->
<!-- <script src="https://ggscore.com/inc/func.js?{{random(rand)}}"></script> -->
<!--PAGES select only dev-->
<style>
  body {
    padding-bottom: 60px !important;
  }
  .project-menu {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 5px 0px 0px 0px;
    /*display: none;*/
  }
  .project-menu a {
    font-size: 10px;
  }
</style>
<div class="project-menu">
  <div class="btn-group" role="group" id="hpages">
    <a href="./external.html" class="m2 btn btn-sm btn-warning">external</a>

    <a href="./blocked.html" class="m2 btn btn-sm btn-warning">Blocked</a>
    <a href="./pubg_matches.html" class="m2 btn btn-sm btn-warning">matchesPUBG</a>
    <a href="./pubg_match2.html" class="m2 btn btn-sm btn-warning">matchesPUBG_NEW</a>
    <a href="./pubg_match.html" class="m2 btn btn-sm btn-warning">match PUBG</a>
    <a href="./pubg_tour_group.html" class="m2 btn btn-sm btn-danger">tour table PUBG</a>

    <div class="btn-group dropup" role="group">
      <a class="dropdown-toggle  btn btn-sm btn-success" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> user <span class="caret"></span> </a>
      <ul class="dropdown-menu">
        <li><a href="./user-login.html" >U login</a></li>
        <li><a href="./user-reg.html" >U reg</a></li>
        <li><a href="./user-pass.html" >U pass</a></li>
        <li><a href="./user-acc.html" >U acc</a></li>
        <li><a href="./user-page.html" >U page</a></li>
        <li><a href="./user-pay.html" >U pay</a></li>
        <li><a href="./user-studio.html" >U studio</a></li>
        <li><a href="./user-page-sbscr.html" >U sbscr</a></li>
      </ul>
    </div>

    <a href="./home1.html" class="m1 btn btn-sm btn-success">Home Full</a>
    <a href="./logo.html" class="m2 btn btn-sm btn-success">Logo</a>
    <a href="./home.html" class="m1 btn btn-sm btn-success">Home</a>

    <a href="./game-home.html" class="m1 btn btn-sm btn-success">Game Home</a>
    <a href="./index.html" class="m1 btn btn-sm btn-success">Match</a>

    <a href="./match_end.html" class="m1 btn btn-sm btn-success">Match Vid</a>
    <a href="./match_end2.html" class="m1 btn btn-sm btn-warning">Match Vid 2</a>
    <a href="./matches.html" class="m2 btn btn-sm btn-success">Mathes</a>
    <a href="./teams.html" class="m2 btn btn-sm btn-success">Teams list</a>
    <a href="./team.html" class="m2 btn btn-sm btn-success">Team</a>
    <a href="./news-page.html" class="m2 btn btn-sm btn-success">News Page</a>
    <a href="./news.html" class="m2 btn btn-sm btn-success">News List</a>
    <a href="./players.html" class="m2 btn btn-sm btn-success">Players</a>
    <a href="./player.html" class="m2 btn btn-sm btn-success">Player</a>

    <div class="btn-group dropup" role="group">
      <a class="dropdown-toggle  btn btn-sm btn-success" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> tours <span class="caret"></span> </a>
      <ul class="dropdown-menu">
        <li><a href="./tours.html" >Tours</a></li>
          <li><a href="./tour.html" >Tour</a></li>
            <li><a href="./tour2.html"  style="opacity: 0.5">Tour2</a></li>
              <li><a href="./tour_group.html" >Tour Group</a></li>
                <li><a href="./tour_poff.html" >Tour Playoff</a></li>
      </ul>
    </div>

    <a href="./404.html" class="m2 btn btn-sm btn-success">404</a>
    <a href="./vodlist.html" class="m2 btn btn-sm btn-success">Vod List</a>
    <a href="./vodlist2.html" class="m2 btn btn-sm btn-success" style="opacity: 0.5">Vod List2</a>
    <a href="./vod.html" class="m2 btn btn-sm btn-success">Vod</a>
    <a href="./light.html" class="m2 btn btn-sm btn-success">HighLight</a>

    <a href="./predicts.html" class="m2 btn btn-sm btn-success">Predicts</a>
    <a href="./predict.html" class="m2 btn btn-sm btn-success">Predict</a>
    <a href="./page.html" class="m2 btn btn-sm btn-warning">Txt</a>
    <a href="./studio.html" class="m2 btn btn-sm btn-warning">Studio</a>
    <a href="./studio-list.html" class="m2 btn btn-sm btn-warning">Studio List</a>
    <a href="./studio-com.html" class="m2 btn btn-sm btn-warning">Comentators</a>
    <a href="./stickers.html" class="m2 btn btn-sm btn-warning">stickers</a>
    <a href="./fonts.html" class="m2 btn btn-sm btn-success">Ico</a>

    <div class="btn-group dropup" role="group">
      <a class="dropdown-toggle  btn btn-sm btn-success" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> mail <span class="caret"></span> </a>
      <ul class="dropdown-menu">
        <li><a href="./mail-pwd_ru.html" >m1</a></li>
        <li><a href="./mail-pwd_count_ru.html" >m2</a></li>
        <li><a href="./mail-reg.html" >m3</a></li>
      </ul>
    </li>
  </div>
</div>

<!--PAGES js navi only dev-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
  (function ($) {
    "use strict";

    $(document).ready(function () {
      $(function () {
        setNavigation();
      });

      function setNavigation() {
        var path = window.location.pathname;
        path = path.replace(/\/$/, "");
        path = decodeURIComponent(path);

        $("#hpages a").each(function () {
          var href = $(this).attr("href");
          if (path.substring(0, href.length) === href) {
            $(this).addClass("active");
          }
        });
      }
    }); //end ready
  })(jQuery);
</script>
<!--.STYLE CHANGE dev-->
<!--.PAGES navi dev-->
