<!--Best Strike-->
<h3 class="mlh mlh-sm">
  <span>Best Strike</span>
</h3>
<div class="block-plw block-bs">
  <div class="plw">
    <a href="" class="logo">
      <img src="http://ggscore.com/media/logo/_60/pic-20160203-600x600-6826089355.png" alt="Wings">
      <i class="beststrike"></i>
    </a>
    <div class="name">
      <a href="">
          Evil Geniuses <img src="http://ggscore.com/media/flag/4.png" alt="China">
      </a>
    </div>
    <div class="hits">
      5 побед подряд
      <em>C 20 января - 11 февраля</em>
    </div>
  </div>
</div>


<!--Player of the week-->
<h3 class="mlh mlh-sm">
  <span>Player of the week <small>Last Hits</small></span>
</h3>
<div class="block-plw">
  <div class="plw">
    <a href="" class="logo">
      <figure><img alt="Shadow" src="http://ggscore.com/media/logo/_60/pic-20161006-270x270-1775953271.png"></figure>
      <b>
        <img src="http://ggscore.com/media/logo/_60/pic-20160203-600x600-6826089355.png" alt="Wings">
      </b>
    </a>
    <div class="name">
      <a href="">
          MATUMBAMAN <img src="http://ggscore.com/media/flag/4.png" alt="China">
      </a>
      <em>Evil Geniuses <br>support 2</em>
    </div>
    
    <div class="hits">
      <span>LAST HITS &mdash; </span><b>79%</b>
    </div>
  </div>
  
  <table class="table table-sm table-striped table-condensed pTeamOther">
<!--
    <thead>
      <tr>
        <th width="50"></th>
        <th>Игрок</th>
        <th width="120">LAST HITS</th>
      </tr>
    </thead>
-->
    <tbody>
      <tr>
        <td width="50">
          <a class="ava-sm" href="" style="background-image:url(http://ggscore.com/media/logo/_60/pic-20170116-600x799-6254104911.jpeg);"></a>
        </td>
        <td>
          <a class="nick" title="Super" href=""><img width="16px" src="http://ggscore.com/media/flag/5.png"> <u>ALOHADANCE</u>.<span class="gray">F.R.I.E.N.D.S</span></a>
        </td>
        <td width="24%" align="center"><b>60%</b></td>
      </tr>
      <tr>
        <td width="50">
          <a class="ava-sm" href="" style="background-image:url(http://ggscore.com/media/logo/_60/pic-20170116-600x799-6254104911.jpeg);"></a>
        </td>
        <td>
          <a class="nick" title="Super" href=""><img width="16px" src="http://ggscore.com/media/flag/3.png"> <u>RAMZES666</u>.<span class="gray">Virtus.Pro</span></a>
        </td>
        <td width="24%" align="center"><b>51%</b></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="mlh mlh-sm" style="margin-top:-36px;">
  <span><a href="" class="btn btn-default btn-xs">Все игроки</a></span>
</div>







