<!-- /match-page/player-videos-list.html -->
<div id="player-streams" rel="stream" class="stmblock active">
  <div class="tse-sc tse_slist">
      <div class="tse-content">
        <ul id="index_stream" class="slist">
        <!--
        <li class="devide">
          <figure><i class="gti-youtube-play"></i>  записи</figure>
        </li>
        -->
        <li class="mstat">
          <span>
            <i class="gti-bar-chart"></i>
          </span>
          <div>
            <strong>Показать результаты игры</strong>
            <u>Статистика и результаты матча</u>
          </div>
          <em></em>
        </li>
        <li class="mstat mviewer">
          <span>
            <i class="gti-dotaviewer"></i>
          </span>
          <div>
            <strong>DotaViewer</strong>
            <u>Смотреть все важные моменты игры</u>
          </div>
          <em></em>
        </li>
        <li class="vod active hot">
          <span>
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/dotastarladder_en-profile_image-3707600b3f5108ee-300x300.jpeg" alt="Stream">
            <time>5:12:34</time>
          </span>
          <div>
            <strong>Prime Time Legaue 2016 Season Prime Time Legaue 2016 Season</strong>
            <u><i class="gti-eye"></i> 1,951 &nbsp; [EN] dotastarladder_en</u>
          </div>
          <em></em>
        </li>
        <li class="vod">
          <span>
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/aef_tv-profile_image-9bde9a317e503f87-300x300.png" alt="Stream">
            <time>5:12:34</time>
          </span>
          <div>
            <strong>[EN] Prime Time Legaue 2016 Season Prime Time Legaue 2016 Season</strong>
            <u><i class="gti-eye"></i> 1,951 &nbsp; [EN] dotastarladder_en</u>
          </div>
          <em></em>
        </li>
        <li class="vod">
          <span>
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/womboxcombo-profile_image-8a46009a452331de-300x300.png" alt="Stream">
            <time>5:12:34</time>
          </span>
          <div>
            <strong>Prime Time Legaue 2016 Season Prime Time Legaue 2016 Season</strong>
            <u><i class="gti-eye"></i> 1,951 &nbsp; [EN] dotastarladder_en</u>
          </div>
          <em></em>
        </li>
        <li class="vod">
          <span>
            <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/womboxcombo-profile_image-8a46009a452331de-300x300.png" alt="Stream">
            <time>5:12:34</time>
          </span>
          <div>
            <strong>Prime Time Legaue 2016 Season Prime Time Legaue 2016 Season</strong>
            <u><i class="gti-eye"></i> 1,951 &nbsp; [EN] dotastarladder_en</u>
          </div>
          <em></em>
        </li>
      </ul>
      </div>
    
  </div>
</div>