<div class="pr_sind">
  <table>
    <tr>
      <th></th>
      <th width="70"></th>
      <th><span title="Коэфф" class="tip">К</span></th>
      <th><span title="Вероятность букмекеров" class="tip">ВБ</span></th>
      <th><span title="Вероятность экспертов" class="tip">ВЭ</span></th>
      <th><span title="Относительная разница вероятностей" class="tip">ОРВ</span></th>
      <th><span title="Ставки (эксперты)" class="tip">СЭ</span></th> 
    </tr>
    <tr>
      <td><b></b></td>
      <td>London Conspyracy Dota2</td>
      <td>1.70</td>
      <td>53.5%</td>
      <td>84.76%</td>
      <td class="red">58.43%</td>
      <td class="green">279(62)</td>
    </tr>
    <tr>
      <td><u></u></td>
      <td>Secret</td>
      <td>1.70</td>
      <td>53.5%</td>
      <td>84.76%</td>
      <td class="blue">-61.16%</td>
      <td>8(4)</td>
    </tr>
  </table>
  <div class="pr_sind_graf">
    <div class="pr_sind_graf_vert">
      <div class="pr_s_g1">
        <div class="progress pbvert pb1">
          <div title="Коэффициент London Conspyracy Dota2" class="progress-bar" style="height: 30%;">
            <span class="sr-only">30%</span>
          </div>
        </div>
        <div title="Коэффициент Secret" class="progress pbvert pb2">
          <div class="progress-bar" style="height: 60%;">
            <span class="sr-only">60%</span>
          </div>
        </div>
      </div>
      <div class="pr_s_g2">
        <div class="progress pbvert pb1">
          <div title="Разница вероятностей London Conspyracy Dota2" class="progress-bar" style="height: 30%;">
            <span class="sr-only">30%</span>
          </div>
        </div>
        <div class="progress pbvert pb2">
          <div title="Разница вероятностей Secrert" class="progress-bar" style="height: 60%;top:60%;">
            <span class="sr-only">-60%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pr_sind_graf_donat">
      <div id="sind_donut"></div>
    </div>
    <div class="pr_sind_graf_line">
      <table>
        <tr>
          <td class="stl">
            <span>London Co...</span>
            <b></b> 279 <em></em> Э 62
          </td>
          <td class="stc"><span>287</span>СТАВОК</td>
          <td class="str">
            <span>Secret</span>
            <u></u> 8 <i></i> Э 4
          </td>
        </tr>
      </table>
      <div class="sind_line">
        <div id="sind_line"></div>
      </div>
      <div class="sind_share">
        <b>Поделиться прогнозом:</b>
        <span>
          <a href="" class="shr"><i class="gti-vk"></i>993</a>
          <a href="" class="shr"><i class="gti-facebook"></i>123</a>
          <a href="" class="shr"><i class="gti-twitter"></i>13</a>
          <a href="" class="shr"><i class="gti-google-plus"></i>12</a>
        </span>
      </div>
      <div class="s_inf"><i class="gti-info-circle"></i> Без учёта платных прогнозов</div>
    </div>
  </div>
</div>