<!-- /match-page/section-soc.html -->
<div class="block m-soc">
  <div class="bh clearfix">
    <h3>
      <i class="ih gti-hand-peace-o"></i>
      Социальные сети
    </h3>
    <ul class="block-menu" role="tablist">
      <li class="active"><a id="k_tab" href="#tzn" role="tab" data-toggle="tab">ВСЕ</a></li>
      <li><a id="k_graf" href="#tgraf" role="tab" data-toggle="tab"><i class="gti-vk"></i></a></li>
      <li><a id="k_hist" role="tab" data-toggle="tab" href="#thist"><i class="gti-facebook"></i></a></li>
      <li><a id="k_hist" role="tab" data-toggle="tab" href="#thist"><i class="gti-twitter"></i></a></li>
    </ul>
  </div><!-- bh -->
  <div class="tab-content">
    <div class="tse-sc tse-soc">
      <div class="tse-content">
        <ul>
          {% for i in 0..7 %}
          <li>
            <i class="gti-twitter"></i>
            <div>
              <span>
                Денди
              </span>
              <p>
                Совсем недавно Virtus.pro совместно с RuHub и Storm Studio объявили о слиянии и начале совместной работы ...
              </p>
            </div>
          </li>
          <li>
            <i class="gti-facebook"></i>
            <div>
              <span>
                Денди
              </span>
              <p>
                Совсем недавно Virtus.pro совместно с RuHub и Storm Studio объявили о слиянии и начале совместной работы ...
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="no100"><i class="gti-info-circle"></i> Ничего нет</div>
      </div>
    </div>
  </div>
</div>

<!-- /section social news -->