<!-- /match-page/section-piks.html -->
<div class="block m-picks">
  <div class="bh clearfix">
    <h3>
      <i class="ih gti-hand-o-up"></i>
      Пики и баны
      <i data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="О сравнении" class="inf gti-info-circle"></i>
    </h3>
  </div><!-- bh -->

  <div class="block-content">
    
    <div class="rigter">
      <u>Выбрать расклад</u>
      <div class="dropdown">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Начинают: London Conspiracy
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Начинают: Secret</a></li>
          <li class="active"><a href="#">Начинают: London</a></li>
        </ul>
      </div>
    </div>
    
    <div class="pik-team">
      <a href="" class="mtp">
      <img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png">
      Secret</a>
    </div>
    
    <ul class="pik-line clearfix">
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>2 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>4 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>6 <u class="tip" title="Процент вероятности">98%</u></span></a>
         <a href="" class="pn">Вениамин Пупкович Ватарогосян</a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>7 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>10 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>12 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>13 <u class="tip" title="Процент вероятности">98%</u></span></a>
         <a href="" class="pn">Вениамин Пупкович Ватарогосян</a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>15 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>17 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>19 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
    </ul>
    
    <div class="vser"><span>VS</span></div>
    
    <ul class="pik-line clearfix">
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>1 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>3 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>5 <u class="tip" title="Процент вероятности">98%</u></span></a>
         <a href="" class="pn">Вениамин Пупкович Ватарогосян</a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>8 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>9 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>11 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>14 <u class="tip" title="Процент вероятности">98%</u></span></a>
         <a href="" class="pn">Вениамин Пупкович Ватарогосян</a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>16 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
      <li class="h-ban">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>18 <u class="tip" title="Процент вероятности">98%</u></span></a>
      </li>
      <li class="h-pik">
        <a href="" class="hvert hpop"><img src="../img/herov.jpg" alt="Имя героя"><span>20 <u class="tip" title="Процент вероятности">98%</u></span></a>
        <a href="" class="pn">Вася пупкин</a>
      </li>
    </ul>
    
    <div class="pik-team">
      <a href="" class="mtp">
      <img src="http://game-tournaments.com/media/logo/_60/pic-20160415-256x187-3994387532.png">
      London Conspyracy Dota</a>
    </div>
    
  </div>
</div>
<!-- /Picks -->