<!--match-page/stage-block.html -->
 <div class="stage">
  <em><b>3</b>China <span class="caret"></span></em>
  <ul>
    <li class="s-pass"><a href=""><b>1</b><span>Квалификация</span></a></li>
    <li class="s-pass active"><a href=""><b>2</b><span>Групповой раунд</span></a></li>
    <li class="s-pass spl"><a href=""><b>3</b><span>China</span></a></li>
    <li><a href=""><b>4</b><span>China #2</span></a></li>
    <li><a href=""><b>5</b><span>America</span></a></li>
    <li><a href=""><b>6</b><span>America #2</span></a></li>
    <li><a href=""><b>7</b><span>SEA</span></a></li>
    <li><a href=""><b>8</b><span>SEA #2</span></a></li>
    <li><a href=""><b>9</b><span>Europe</span></a></li>
    <li><a href=""><b>10</b><span>Europe #2</span></a></li>
    <li><a href=""><b>11</b><span>Финал</span></a></li>
  </ul>
</div>