<!-- match-list/match-top.html -->

<div class="m-top-block soon">
  <h3>
    <span><i class="m-i-1"></i>Топ матч дня</span>
  </h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em><sup data-countdown="2016/06/30 22:34:56"></sup></em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="m-top-block live">
  <h3><span><i class="m-i-5"></i>Самый ожидаемый</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em><sup><i class="gti gti-clock-o"></i> 12:45</sup></em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div> 

<div class="m-top-block">
  <h3><span><i class="m-i-4"></i>Финал</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em>26 апр<br>в 12:00</em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div> 

<div class="m-top-block">
  <h3><span><i class="m-i-3"></i>Выбор GT</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em>26 апр<br>в 12:00</em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
    <!--<u class="time">26 апр в 12:00</u>-->
  </div>
</div>

<div class="m-top-block">
  <h3><span><i class="m-i-6"></i>Лучшие коэффициенты GT</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em>26 апр<br>в 12:00</em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div> 

<div class="m-top-block">
  <h3><span><i class="m-i-7"></i>Выбор Pro-игроков</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em>26 апр<br>в 12:00</em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div> 

<div class="m-top-block">
  <h3><span><i class="m-i-2"></i>Выбор прогнозистов</span></h3>
  <div class="m-top-cont">
    <a class="m-top-link" href="" title="EHOME VS Vici Gaming"></a>
    <table>
      <tr>
        <td class="mt1">
          <figure><img src="http://game-tournaments.com/media/logo/_60/ehome.png"><b>11</b></figure>
          <u>EHOME</u>
        </td>
        <td>
          <em>26 апр<br>в 12:00</em>
        </td>
        <td class="mt2">
          <figure><img src="http://game-tournaments.com/media/logo/_60/vg-6040233.png"><b>1</b></figure>
          <u>Vici Gaming</u>
        </td>
      </tr>
    </table>
  </div>
</div> 