<!-- match-list/match-list.html -->
  <div class="block mlt">
    
    <div class="bh clearfix">
      <div class="rigter">
        <i class="gti-undo" id="refresher"></i>
          <label class="checkbox-inline score-on">
            <input type="checkbox" name="switch" data-on-text="ДА" data-off-text="НЕТ" data-label-text="счет"/>
          </label> 
        <div class="dropdown">
          <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
             Dota2Lounge.com
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <div class="mlt-filter">
          <input id="mlt-filter" type="text" placeholder="Команда или турнир...">
        </div>
      </div>
      <ul class="block-menu">
        <li class="active"><a href="">Сегодня</a></li>
        <li><a href="">Неделя</a></li>
        <li><a href="">Месяц</a></li>
        <li><a href="">Все</a></li>
      </ul>
    </div><!-- bh -->
    
    <div class="block-content">
      <h3 class="mh"><span>Live матчи</span></h3>
      <div class="table-responsive">
        <table class="mtable">
          <thead>
            <th></th>
            <th width="70"><span>Дата <i class="gti-chevron-down sorter active"></i></span></th>
            <th><span>Матч <!--<i class="gti-chevron-up sorter"></i>--></span></th>
            <th><span>Турнир <i class="gti-chevron-up sorter"></i></span></th>
            <th></th>
          </thead>

            <tr class="m-item" data-href="http://game-tournaments.com/link" itemscope="itemscope" itemtype="https://schema.org/Event">
              <td class="ticon">
                <a class="icon-pop" title="Атрибуты матча" data-content="<span class='m-i-1'></span>
                <span class='m-i-2'></span>">
                  <span class='m-i-1'></span>
                </a>
              </td>
              <td class="tdate"><time title="17 июн 2016, 11:00" datetime="2016-06-17T11:00:00+03:00" itemprop="startDate">12 авг в 10:15</time></td>
              <td class="td-m">
                <span class="tn1" href="">Secret</span>
                <span href="" class="mp1"><sup>11</sup><img src="http://game-tournaments.com/media/logo/_60/582-no.png"></span>
                <span class="bet-p">(1.60)</span>
                <span class="mscore">VS</span>
                <span class="bet-p">(2.30)</span>
                <span href="" class="mp2"><sup>2</sup><img src="http://game-tournaments.com/media/logo/_60/582-no.png"></span>
                <span class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</span>
              </td>
              <td class="tname">
                <a class="tour-pop"  itemprop="name" data-placement="top" data-container="body" title="Esports Championship League - Америка" data-content=" <img src='http://game-tournaments.com/media/tournament/pic-20160615-264x150-3615944418.jpeg'><b>Регулярный сезон</b>
                <span><i class='gti gti-trophy'></i> Малайзия, Куала Лумпур</span>
                <span><i class='gti gti-clock-o'></i> 10 апр — 20 апр</span><span><i class='gti gti-money'></i> 200 000$</span>">Esports - Америка</a>
              </td>
              <td>
                <a href="#prognoz" class="dice-win" data-toggle="modal"><i class="gti-dice"></i></a>
              </td>
            </tr>

          {% for i in 0..4 %}
            <tr class="m-item" data-href="http://game-tournaments.com/link" itemscope="itemscope" itemtype="https://schema.org/Event">
              <td class="ticon">
                <span class="m-i-1"></span>
              </td>
              <td class="tdate">12 авг в 10:15</td>
              <td class="td-m">
                <a class="tn1" href="">Secret</a>
                <a href="" class="mp1"><sup>11</sup><img src="http://game-tournaments.com/media/logo/_60/582-no.png"></a>
                <span class="bet-p">(1.60)</span>
                <span class="mscore">VS</span>
                <span class="bet-p">(2.30)</span>
                <a href="" class="mp2"><sup>2</sup><img src="http://game-tournaments.com/media/logo/_60/582-no.png"></a>
                <a class="tn2" href="">London Conspiracy Dota2 Conspiracy Dota2</a>
              </td>
              <td class="tname">
                <a class="tour-pop" itemprop="name" data-placement="top" data-container="body" title="Esports Championship League - Америка" data-content="<img src='http://game-tournaments.com/media/tournament/pic-20160615-264x150-3615944418.jpeg'><b>Регулярный сезон</b>
                <span><i class='gti gti-trophy'></i> Малайзия, Куала Лумпур</span>
                <span><i class='gti gti-clock-o'></i> 10 апр — 20 апр</span><span><i class='gti gti-money'></i> 200 000$</span>">Esports - Америка</a>
              </td>
              <td>
                <a href="#prognoz" class="dice-win" data-toggle="modal"><i class="gti-dice"></i></a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>