<div class="prizes">
  <h4 class="mlh"><span>Призовые места</span></h4>

  <div class="noplaces">
    <b>Распределение $125,000 призового фонда пока не известно</b>
    <div class="noplaces-t">
      <table class="places">
        <tbody>
          <tr class="first-place">
            <td><b>1</b></td>
            <td> <a href="/dota-2/team/aboshamalah" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr class="second-place">
            <td><b>2</b></td>
            <td> <a href="/dota-2/team/dp" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr class="third-place">
            <td><b>3</b></td>
            <td> <a href="/dota-2/team/bvd" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr>
            <td><b>4</b></td>
            <td> <a href="/dota-2/team/snd" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr>
            <td><b>5</b></td>
            <td> <a href="/dota-2/team/white-rabbit" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr>
            <td><b>6</b></td>
            <td> <a href="/dota-2/team/psuedo-gaming" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
          <tr>
            <td><b>7</b></td>
            <td> <a href="/dota-2/team/knownfor" class="teamname1">Team name </a> </td>
            <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>$ ???</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td><a href="/dota-2/team/tnc-gaming" class="teamname1 team-pop" data-content="<table>{% for i in 1..5 %}<tr><th>{{i}}</th><td><img src='http://game-tournaments.com/media/flag/{{random(flag)}}.png' width='16px'>&nbsp;<a href=''>{{random(player)}}</a></td></tr>{% endfor %}</table>"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> TnC</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>800,000</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/cloud9" class="teamname1 team-pop" data-content="<table>{% for i in 1..5 %}<tr><th>{{i}}</th><td><img src='http://game-tournaments.com/media/flag/{{random(flag)}}.png' width='16px'>&nbsp;<a href=''>{{random(player)}}</a></td></tr>{% endfor %}</table>"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> Cloud9</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>400,000</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/alliance" class="teamname1 team-pop" data-content="<table>{% for i in 1..5 %}<tr><th>{{i}}</th><td><img src='http://game-tournaments.com/media/flag/{{random(flag)}}.png' width='16px'>&nbsp;<a href=''>{{random(player)}}</a></td></tr>{% endfor %}</table>"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> Alliance</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>200,000</span></td>
      </tr>
      <tr>
        <td><b>4</b></td>
        <td> <a href="/dota-2/team/infamous" class="teamname1 team-pop" data-content="<table>{% for i in 1..5 %}<tr><th>{{i}}</th><td><img src='http://game-tournaments.com/media/flag/{{random(flag)}}.png' width='16px'>&nbsp;<a href=''>{{random(player)}}</a></td></tr>{% endfor %}</table>"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> Infamous</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>60,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/dilecom" class="teamname1"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> DileCom</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>10,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/sg-esports" class="teamname1"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> SGe</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>10,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/duobao-young" class="teamname1"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> DUOBAO.Y</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>10,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/tot" class="teamname1"><img class="logo" style="width:25px" src="http://game-tournaments.com/media/logo/pic-20161110-600x600-7320131375.png"> T.O.T.</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>10,000</span></td>
      </tr>
    </tbody>
  </table>

  <h4 class="mlh"><span>MEA Playoff, WES</span></h4>
  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td> <a href="/dota-2/team/aboshamalah" class="teamname1">aboshamalah</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>29,965</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/dp" class="teamname1">DP</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>17,979</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/bvd" class="teamname1">bvd</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>8,989</span></td>
      </tr>
      <tr>
        <td><b>4</b></td>
        <td> <a href="/dota-2/team/snd" class="teamname1">SnD</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>5,993</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/white-rabbit" class="teamname1">White Rabbit</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,996</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/psuedo-gaming" class="teamname1">pD</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,996</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/knownfor" class="teamname1">k4</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,996</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/pub-tr" class="teamname1">PUB.TR</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,996</span></td>
      </tr>
    </tbody>
  </table>
  <h4 class="mlh"><span>EU Playoff, WES</span></h4>
  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td> <a href="/dota-2/team/imperial" class="teamname1">Imperial</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>29,970</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/horde-sw" class="teamname1">Horde</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>17,982</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/alliance" class="teamname1">Alliance</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>8,991</span></td>
      </tr>
      <tr>
        <td><b>4</b></td>
        <td> <a href="/dota-2/team/ukraine" class="teamname1">Ukraine</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>5,994</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/comanche" class="teamname1">Comanche</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,997</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/romania" class="teamname1">Romania</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,997</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/fantastic-5" class="teamname1">Fantastic Five</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,997</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/ne-rusb" class="teamname1">Ne RuSb</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,997</span></td>
      </tr>
    </tbody>
  </table>
  <h4 class="mlh"><span>AM Playoff, WES</span></h4>
  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td> <a href="/dota-2/team/infamous" class="teamname1">Infamous</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>30,000</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/kingao-4" class="teamname1">Kingao+4</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>18,000</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/dilecom" class="teamname1">DileCom</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>9,000</span></td>
      </tr>
      <tr>
        <td><b>4</b></td>
        <td> <a href="/dota-2/team/t-show" class="teamname1">TShow</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>6,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/team-one" class="teamname1">Team One</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>3,000</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/vultur" class="teamname1">Vultur</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>3,000</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/learn2gank" class="teamname1">L2G</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>3,000</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/rebirth-esports" class="teamname1">RBT</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>3,000</span></td>
      </tr>
    </tbody>
  </table>
  <h4 class="mlh"><span>China, WES</span></h4>
  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td> <a href="/dota-2/team/duobao-young" class="teamname1">DUOBAO.Y</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>14,985</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/tot" class="teamname1">T.O.T.</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>7,492</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/max-y" class="teamname1">MAX.Y</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>3,746</span></td>
      </tr>
    </tbody>
  </table>
  <h4 class="mlh"><span>APAC, WES</span></h4>
  <table class="places">
    <tbody>
      <tr class="first-place">
        <td><b>1</b></td>
        <td> <a href="/dota-2/team/tot" class="teamname1">T.O.T.</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>29,340</span></td>
      </tr>
      <tr class="second-place">
        <td><b>2</b></td>
        <td> <a href="/dota-2/team/nl5-reborn" class="teamname1">NL5.Reborn</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>17,604</span></td>
      </tr>
      <tr class="third-place">
        <td><b>3</b></td>
        <td> <a href="/dota-2/team/s1-lykos" class="teamname1">Lykos</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>8,802</span></td>
      </tr>
      <tr>
        <td><b>4</b></td>
        <td> <a href="/dota-2/team/mith" class="teamname1">Signature</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>5,868</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/max-y" class="teamname1">MAX.Y</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,934</span></td>
      </tr>
      <tr>
        <td><b>5</b></td>
        <td> <a href="/dota-2/team/tnc-gaming" class="teamname1">TnC</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,934</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/mvp-phoenix" class="teamname1">MVP Phoenix</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,934</span></td>
      </tr>
      <tr>
        <td><b>7</b></td>
        <td> <a href="/dota-2/team/mvp-aegis" class="teamname1">MVP Aegis</a> </td>
        <td><span class="teamraiting"><i class="fa fa-fw fa-usd"></i>2,934</span></td>
      </tr>
    </tbody>
  </table>
  </div>