<!-- tours/tour-block.html -->
<div class="pAva t-block">
  <div class="pAvaBg">
    <span class="tLogo">
      <img src="http://ggscore.com/media/tournament/pic-20160831-478x178-7586446600.jpeg" alt="WESG">
    </span>
    <div class="pInf">
      <h2 class="mlh"><span>Dota 2 турнир WESG</span></h2>
      <table>
        <tbody>
          <tr>
            <td width="200px">Турнир проводится</td>
            <td>с 12 января, 2017</td>
          </tr>
          <tr>
            <td>Дата окончания</td>
            <td>22 января, 2017</td>
          </tr>
          <tr>
            <td>Призовой фонд</td>
            <td><b>$ 1,700,000</b></td>
          </tr>
          <tr>
            <td>Команд участвует</td>
            <td>105</td>
          </tr>
          <tr>
            <td>Series</td>
            <td><a href="">WESG</a></td>
          </tr>
        </tbody>
      </table>
      <p>
        Турнир World Electronic Sports Games проводится китайским интернет-гигантом Alibaba Group. Эта организация решила провести самый масштабный киберспортивный турнир в мире. И это у них получилось.
        </p><p>
        Призовой фонд региональных отборочных в Европе и СНГ составит $205,000, а 8 лучших команд по Dota 2 и CS:GO и 8 сильнейших игроков по индивидуальным дисциплинам — HearthStone и StarCraft 2 — отправятся на WESG Global Grand Final, который пройдёт с 6-го по 9-ое октября в Киеве, Украина, а призовой фонд которого $3,7 млн.
      </p>
    </div>
    <div class="fans">
      <a href="#" class="btn btn-primary tip" title="Подписаться на новости и уведомления о матчах"><i class="gti-flag-o"></i>Подписаться</a>
    </div>
  </div>
</div>