
/**
* Comments
*/

.bh{
  .stm_nav_block{
    a{
      i{
        font-size: 24px;
      }
      span{
        font-size: 21px;
        padding: 0 0 0 10px;
        font-weight: 300;
        vertical-align: top;
      }
    }
  }
}
.comblock{
  margin-top: 13px;
  position: relative;
  .chat-action{
    position: absolute * 0 0 0;
  }
  .tse-com{
    padding-bottom: 59px;
  }
  .m-com-list{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin: 0;
      background: #31373a;
      padding: 10px;
      &:nth-child(even){
        background: #2b3133;
      }
      &:last-child{
        margin: 0;
      }
      &:hover,
      &:active,
      &:focus{
        p{
          color: #e8e8e8;
        }
      }
      .hlc{
        color: #f58563;
        float: right;
        width: auto;
        height: auto;
      }
      
      > a{
        float: left;
        width: 35px;
        height: 35px;
        
        img{
          width: 100%;
          border-radius: 50px;
        }
      }
      div{
        margin-left: 50px;
        font-size: 12px;
        b{
          color: #fff;
          font-weight: 400;
        }
        span{
          color: color($text-gray-3 l(60%));
          font-size: 11px;
        }
        p{
          color: $text-gray-3;
          margin-top: 5px;
          line-height: 1.2;
          font-weight: 400;
          transition: $tease;
          margin-bottom: 0;
        }
      }
    }
  }
}

.c_inf {
    color: #2faee7;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    opacity: .6;
    margin-top: 10px;
  a{
    text-decoration: none;
    
    &:hover,
    &:active,
    &:focus{
      color: $link-light-blue-active;
      text-decoration: none;
    }
  }
}