/*
Modal general
*/
.modal-content {
  background: rgb(49, 55, 58);
  border-radius: $br;
  border-width: 0;
  .modal-header{
    border-bottom: 0;
    position: relative;
    z-index: 3;
    .close{
      position: absolute 13px 15px * *;
      color: #fff;
    }
  }
  .modal-footer{
    border: 0;
  }
}
.modal-body{
    background: rgb(54, 61, 64);
    /*background-image: url(../img/spoiler.png);
    background-repeat: repeat;
    background-position: center;*/
  .mtable tr{
    &:nth-of-type(2n) {
      background: rgba(54, 59, 64, 0.14);
    }
    &:nth-of-type(2n+1) {
      border-bottom: 1px solid rgba(57, 62, 64, 0.25);
    }
  }
}

/*
Modal end
*/
.label{
  font-weight: 400;
}
.label-dash{
  background: transparent;
  border: 1px dashed;
}

/*Predictions modal*/

.bet-wms {
  /*
  .modal-title{
    margin: 10px 0
  }
  .modal-dialog{
    @media (min-width: 768px){
      width: 780px;
      margin: 50px auto;
    }
  }
  .modal-body{
    background: rgb(55, 62, 65);
  }
  */
  h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}


.betheader{
    margin: -70px -15px -150px -15px;
    padding: 85px 0 165px;
    position: relative;
    text-align: center;
    background: #5f3633 url(../img/spoiler.png) repeat scroll 0 0;
    overflow: hidden;
    &:after{
      content: '';
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
      height: 100px;
      max-height: 100%;
      background: linear-gradient(to bottom, rgba(46,51,55,0) 0%,rgb(55, 62, 65) 100%);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 60%;
      left: -13%;
      background: rgba(6, 214, 157, 0.4);
      bottom: 0;
      opacity: .4;
      transform: skewX(-20deg);
    }
  
  .mop1,
  .mop2{
    float: left;
    width: 50%;
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 400;
  }
  .teamlogo{
    margin-bottom: 5px;
  }
  .country{
    width: 22px;
    right: 0;
    top: 1px;
    left: 100%;
    position: absolute;
    margin-left: 7px;
  }
    .mteamname{
      display: inline-block;
      position: relative;
      &:hover{
        text-decoration: none;
        color: aliceblue;
      }
    }
  .maction{
    text-align: center;
    position: absolute 37% * * 50%;
    transform: translate(-50%, -50%) skew(-20deg);
    background: #82ac4e;
    padding: 2px 10px;
    
    span{
      display: inline-block;
      font-style: normal;
      color: #ffffff;
      font-weight: 400;
      z-index: 1;
      width: 70px;
      line-height: 14px;
      font-size: 10px;
      position: relative;
      padding: 0;
      text-transform: uppercase;
      transform: skew(10deg);
    }
  }
}
.bets-block {
  padding: 10px 30px;
  position: relative;
  table{
    margin-bottom: 0;
  }
}