{% set title = "Match ended 2 Page" %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}

<body>
  {% include "template/header.html" %}
  <div class="container mainwrap pad120">
    <div class="otstup">
      <section class="light-head t-top">
        <div class="heroBg" style="background-image:url(/html/img/headpic_582.jpg);"></div>
        <ul class="news-soc">
          <li><a href="#!" class="hi-1 hi-1a"><i class="gti-vk"></i></a></li>
          <li><a href="#!" class="hi-1 hi-1a"><i class="gti-facebook"></i></a></li>
          <li><a href="#!" class="hi-1 hi-1a"><i class="gti-twitter"></i></a></li>
          <li><a href="#!" class="hi-1 hi-1a"><i class="gti-google-plus"></i></a></li>
        </ul>
        <span class="thumb hi-1 hi-1a" onclick="">
          <i class="gti-thumbs-o-down"></i>
          <b>443</b>
          <i class="gti-thumbs-o-up active"></i>
        </span>
        <h1>Ultra kill Dendi Shadow Fiend</h1>
        <div class="sub"><a href="">Na’Vi vs OG &nbsp;&nbsp;&bull;&nbsp;&nbsp; ProDotA Cup Europe #14</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <time>11 авг 2017 - 10:30</time></div>
        
      </section>
      
      <section class="player-light">
        {% include "template/match-page/player-light.html" %}
      </section>
      
      {#
      <section class="player" id="player">
        <div id="srteamslider" class="srteamslider branded toggled_stream">
          <div class="srteamview clearfix">
            {% include "template/match-page/player-light.html" %}
          </div>
          <div class="srteamtoggle">
            <div class="st_inner">
              <div class="stream_action">
                <ul id="stream_menu" class="player-menu">
                  <li class="active">
                    <a role="tab" data-toggle="tab" href="#">
                      <i class="gti-flash"></i>
                      <span>Лучшие моменты Dandy</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="stmblocks" class="stmblocks tab-content">
                {% include "template/match-page/player-light-list.html" %}
              </div>
            </div>
          </div>
        </div>
      </section>
      #}
      
      <section id="m-picks" class="m-sec m-even ">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                 {#
                 <div class="pAva">
                    <div class="pAvaBg">
                      <a href="" class="tLogo">
                        <img src="http://ggscore.com/media/logo/pic-20160203-600x600-6826089355.png" alt="Wings logo">
                      </a>
                      <div class="pInf">
                        <h2 class="mlh mlhSM"><span>Wings Gaming</span></h2>
                        <table>
                          <tbody>
                            <tr>
                              <td width="250px">Country</td>
                              <td>China <img width="16px" src="http://ggscore.com/media/flag/4.png"></td>
                            </tr>
                            <tr>
                              <td>Ranking</td>
                              <td>#2</td>
                            </tr>
                            <tr>
                              <td>Matches</td>
                              <td>136 / <span class="gray">193</span> <i class="gti-question-circle tip pull-right" title="" data-original-title="Last Year / All Time"></i></td>
                            </tr>
                            <tr>
                              <td>Win Rate</td>
                              <td>57% / <span class="gray">54%</span> <i class="gti-question-circle tip pull-right" title="" data-original-title="Last Year / All Time"></i></td>
                            </tr>
                            <tr>
                              <td>Current streak</td>
                              <td>–</td>
                            </tr>
                            <tr>
                              <td>Record win streak</td>
                              <td>9 wins <span class="sca" data-time="1468526400">6m ago</span></td>
                            </tr>
                            <tr>
                              <td>Record lose streak</td>
                              <td>5 lose <span class="sca" data-time="1422423000">2y ago</span></td>
                            </tr>
                            <tr>
                              <td>Earned</td>
                              <td><span class="scm tip" data-value="9623288" title="" data-original-title="$9,623,288">$9.6M</span> / <span class="scm tip gray" data-value="9684851" title="" data-original-title="$9,684,851">$9.7M</span> <i class="gti-question-circle tip pull-right" title="" data-original-title="Last Year / All Time"></i></td>
                            </tr>
                            <tr>
                              <td>MVP</td>
                              <td><a href="/en/dota-2/player/shadow">Shadow</a></td>
                            </tr>
                            <tr>
                              <td>Avg placement</td>
                              <td>1-4 place <i class="gti-question-circle tip pull-right" title="" data-original-title="Last Year"></i></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                #}
                
                <div class="pinTeam">
                  <figure class="pSmLogo">
                    <a title="Shadow" href="/en/dota-2/player/shadow" style="background-image:url(http://ggscore.com/media/logo/pic-20170116-600x400-627702670.jpeg);"> <b>1</b> </a>
                  </figure>
                  <table>
                    <tbody>
                      <tr>
                        <th>Player</th>
                        <td><a class="pllink" href="/en/dota-2/player/shadow" title="A player from team Wings Gaming - Shadow">Shadow</a></td>
                      </tr>
                      <tr>
                        <th>Position</th>
                        <td>Carry</td>
                      </tr>
                      <tr>
                        <th>Age</th>
                        <td>19 years</td>
                      </tr>
                      <tr>
                        <th>Country</th>
                        <td>China <img width="16px" src="http://ggscore.com/media/flag/4.png"></td>
                      </tr>
                      <tr>
                        <th>Match</th>
                        <td class="pmpm"><span class="sca" data-time="1483855200">2w ago</span> vs <a href="/en/dota-2/team/newbee">NewBee</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
             </div>
             <div class="col-md-7">
               <table class="mtable tb-light">
                 <tr>
                   <th>
                     Hero
                   </th>
                   <td>
                     <span class="heropic" title="Vengeful Spirit"><b>Carry</b><img src="http://ggscore.com/media/game/hero/582/_59/vengefulspirit_lg.png" alt="Vengeful Spirit logo"></span>
                      Vengeful Spirit
                   </td>
                 </tr>
                 <tr>
                   <th>
                     Kills in moment
                   </th>
                   <td>
                     <table>
                       <tr>
                        {% for i in 1..3 %}
                         <td>
                           <span class="heropic" title="Vengeful Spirit">  <b>{{random(['Carry','Sapport','Mid'])}}</b><img   src="http://ggscore.com/media/game/hero/582/_59/mirana_lg.png" alt="Vengeful Spirit logo">
                           </span>
                           <a href="">{{random(['Banan','DlinnonikoWahWah','Bu'])}}<small class="g">.OG</small></a>
                         </td>
                         {% endfor %}
                       </tr>
                     </table>
                   </td>
                 </tr>
                 <tr>
                   <th>
                     Total Damage in moment
                   </th>
                   <td>
                     1234
                   </td>
                 </tr>
                 <tr>
                   <th>
                     Fights/MVP in match
                   </th>
                   <td>
                     120
                   </td>
                 </tr>
               </table>
             </div>
            </div>
            
            <div class="sub_ms">
              <h5 class="mlh mlh-sm"><span><i class="gti gti-hashtag"></i> Related</span></h5>
              <div class="sub_m"> <a href="/en/dota-2/wesg" class="tri hi-1 hi-1a"><span><img src="http://ggscore.com/media/tournament/_60/pic-20160831-478x178-7586446600.jpeg"></span></a>
                <h4 class="h4tri"><a href="/en/dota-2/wesg">WESG</a></h4> </div>
              <div class="sub_m"> <a href="/en/dota-2/team/alliance" class="si hi-1 hi-1a"><span><img src="http://ggscore.com/media/logo/_60/pic-20160926-420x298-6615327019.png"></span></a>
                <h4><a href="/en/dota-2/team/alliance">Alliance</a> <span>The Alliance</span> <img sclass="flag" rc="http://ggscore.com/media/flag/10.png"> <b class="badge">#13</b></h4> </div>
              <div class="sub_m"> <a href="/en/dota-2/player/loda" class="si hi-1 hi-1a"><span><img src="http://ggscore.com/media/logo/_60/pic-20170117-384x552-3255156530.jpeg"></span></a>
                <h4><a href="/en/dota-2/player/loda">Loda</a> <img class="flag" src="http://ggscore.com/media/flag/10.png"> <span>Jonathan Berg</span></h4> </div>
              <div class="sub_m"> <a href="/en/dota-2/player/egm" class="si hi-1 hi-1a"><span><img src="http://ggscore.com/media/logo/_60/pic-20170117-384x552-2286116899.jpeg"></span></a>
                <h4><a href="/en/dota-2/player/egm">EGM</a> <img class="flag" src="http://ggscore.com/media/flag/10.png"> <span>Jerry Lundkvist</span></h4> </div>
              <div class="sub_m"> <a href="/en/dota-2/player/zai" class="si hi-1 hi-1a"><span><img src="http://ggscore.com/media/logo/_60/pic-20170116-600x901-5918338755.jpeg"></span></a>
                <h4><a href="/en/dota-2/player/zai">Zai</a> <img class="flag" src="http://ggscore.com/media/flag/10.png"> <span>Ludwig Wåhlberg</span></h4> </div>
            </div>
            
            <div class="block-br n_share">
              <h5>Поделись моментом с друзьями</h5>
              <div class="btxt">
                <a href="" class="btn btn-vk"><i class="gti-vk"></i> Вконтакте</a>
                <a href="" class="btn btn-facebook"><i class="gti-facebook"></i> Facebook</a>
                <a href="" class="btn btn-twitter"><i class="gti-twitter"></i> Twitter</a>
                <a href="" class="btn btn-google-plus"><i class="gti-google-plus"></i> Google</a>
              </div>
            </div>
            
            <h3 class="mlh"><span>Комментарии</span></h3>
            {% include "template/match-page/section-comments.html" %}
            
          </div>
          <div class="col-md-4">
            {% include "template/liveblock.html" %}
           
            <h3 class="mlh"><span>Новости</span></h3>
            {% include "template/news/newslist-block-mini.html" %}
            
            
          </div>
        </div>
      </section>
      
      {#
      <section id="m-picks" class="m-sec m-even m-zames">
        {% include "template/blockzames.html" %}
      </section>
      #}
    {#
      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
    #}
      {% include "template/breadcrumbs.html" %}
      {% include "template/footer.html" %}
    </div>
  </div>

{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>
