{% set title = "Текст" %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="">
   {% include "template/header.html" %}
  <div class="container mainwrap" style="padding-top:60px;">
    {% include "template/breadcrumbs.html" %}
    <div class="otstup">
      <section class="newstop newstop_page">
        <div>
          <h1 style="margin: 30px 10% 30px 10%!important;">О проекте</h1>
        </div>
      </section>
      
       <section class="news-text m-even">
        <div class="row">
          <div class="col-md-8">
            <div class="news-desc">
              <p>Компания Astro Malaysia Holdings запустила в Юго-Восточной Азии киберспортивный телеканал под названием&nbsp;eGG (Every Good Game). Канал будет работать в режиме 24/7, на нем будут освещаться дисциплины&nbsp;Dota 2,&nbsp;CS:GO,&nbsp;League of&nbsp;Legends,&nbsp;Hearthstone,&nbsp;Heroes of&nbsp;the Storm и&nbsp;StarCraft II.&nbsp;</p>

              <h2>Подзаголовок</h2>
              <p>Компания Astro Malaysia Holdings запустила в Юго-Восточной Азии киберспортивный телеканал под названием&nbsp;eGG (Every Good Game). Канал будет работать в режиме 24/7, на нем будут освещаться дисциплины&nbsp;Dota 2,&nbsp;CS:GO,&nbsp;League of&nbsp;Legends,&nbsp;Hearthstone,&nbsp;Heroes of&nbsp;the Storm и&nbsp;StarCraft II.&nbsp;</p>

              <div class="quote">
              Первыми турнирами, которые будут показаны по новому телеканалу, станут Esports Championship Series, ELEAGUE и The International 2016.
              </div>

              <p>Комментарий главы спортивного направления Astro, Ли Чунг Хая:&nbsp;"В 2015 году&nbsp;Astro первым в Юго-Восточной Азии транслировал в прямом эфире чемпионат мира по Dota 2.&nbsp;TI5 тогда был чрезвычайно популярен среди молодежи, что стимулировало нас на трансляцию большего количества киберспортивных турниров, что позволит охватить несколько миллионов зрителей. Мы считаем, что киберспорт лучше всего подходит для трансляции на больших экранах, так что теперь поклонники смогут наслаждаться любимыми чемпионатами в HD-качестве, также, как любители футбола. В отличие от традиционных видов спорта, где люди болеют за конкретную команду или игроков, &nbsp;поклонники киберспорта привязаны к самой игре. Создание подобного сообщества может внести элемент социальной активности и движения".</p>

              <h3>Подзаголовок</h3>

              <p>Первыми турнирами, которые будут показаны по новому телеканалу, станут&nbsp;<a href="http://game-tournaments.com/csgo/esports-championship-series-season-1">Esports Championship Series</a>, <a href="http://game-tournaments.com/csgo/eleague-season-1">ELEAGUE</a> и&nbsp;<a href="http://game-tournaments.com/dota-2/international-2016">The International 2016</a>.</p>
              <p>Astro Malaysia Holdings являются ведущей кабельным оператором в Малайзии и Юго-Восточной Азии. Клиентская база&nbsp;Astro насчитывает 4,8 млн. человек. Компания предлагает своим абонентам 183 канала, из которых 54 транслируют в качестве HD.&nbsp;</p>

              <h4>Подзаголовок</h4>

              <ul>
              <li> Клиентская база</li>
              <li> Клиентская база</li>
              <li> Клиентская база</li>
              <li> Клиентская база</li>
              <li> Клиентская база</li>
              <li> Клиентская база</li>
              </ul>
              
            </div>
          </div>

          <div class="col-md-4">
            <div class="txt-menu">
              <ul class="nav nav-pills nav-stacked nav-user">
                <li><a href="/about">О проекте</a></li>
                <li><a href="/app">Трекер матчей</a></li>
                <li><a href="/rules">Правила</a></li>
                <li><a href="/prediction">Прогнозы на матчи</a></li>
                <li class="active"><a href="/ads">Реклама</a></li>
                <li><a href="/partner">Партнеры</a></li>
                <li><a href="/contact">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
      
      {% include "template/footer.html" %}
    </div>
  </div>
{#
{% include "template/branding.html" %}
#}
{% include "template/bar.html" %}

{% include "template/scripts.html" %}

</body>
</html>