{% set title = "Stikers for CHAT" %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="csgo chat-open">
  {% include "template/bar.html" %}
  
  <div class="container">
    <div class="otstup" style="height:80px;"></div>
    
    <section class="stikers-demo">
      
<style>
  .stikers-demo{
    text-align: center;
  }
  .stikers-demo a{
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
  }
  .stikers-demo img{
    width: 60px;
  }
</style>
      
      <a href=""><img srcset="" alt="ass" src="/img/smile/ass.png" class="emoticon tip" title="Kiss my ass!"></a>
      <a href=""><img srcset="" alt="ass" src="/img/smile/ass1.png" class="emoticon tip" title="Kiss my ass!"></a>
      <a href=""><img srcset="" alt="fy" src="/img/smile/fy.png" class="emoticon tip" title="F*ck you!"></a>
      <a href=""><img srcset="" alt="bang" src="/img/smile/bang.png" class="emoticon tip" title="Bang!"></a>
      <a href=""><img srcset="" alt="ass_bomb" src="/img/smile/ass_bomb.png" class="emoticon tip" title="Бомбит!"></a>
      <a href=""><img srcset="" alt="mid" src="/img/smile/mid.png" class="emoticon tip" title="I'm at the Mid!"></a>
      <a href=""><img srcset="" alt="navi" src="/img/smile/navi.png" class="emoticon tip" title="Mmmm Navi!"></a>
      <a href=""><img srcset="" alt="tamara" src="/img/smile/tamara.png" class="emoticon tip" title="Красава!"></a>
      <a href=""><img srcset="" alt="go" src="/img/smile/go.png" class="emoticon tip" title="Go! Go! Go!"></a>
      <a href=""><img srcset="" alt="deal" src="/img/smile/deal.png" class="emoticon tip" title="Deal!"></a>
      <a href=""><img srcset="" alt="lick" src="/img/smile/lick.png" class="emoticon tip" title="Lick it!"></a>
      <a href=""><img srcset="" alt="wtf" src="/img/smile/wtf.png" class="emoticon tip" title="WTF!?"></a>
      <a href=""><img srcset="" alt="rofl" src="/img/smile/rofl.png" class="emoticon tip" title="ROFL!"></a>
      <a href=""><img srcset="" alt="fcplm" src="/img/smile/fcplm.png" class="emoticon tip" title="Face palm!"></a>
      <a href=""><img srcset="" alt="slow" src="/img/smile/slow.png" class="emoticon tip" title="Slow!"></a>
      <a href=""><img srcset="" alt="soidet" src="/img/smile/soidet.png" class="emoticon tip" title="Сойдет!"></a>
      <a href=""><img srcset="" alt="bjs" src="/img/smile/bjs.png" class="emoticon tip" title="Black Jack and sluts!"></a>
      <a href=""><img srcset="" alt="arr" src="/img/smile/arr.png" class="emoticon tip" title="ARRR!"></a>
      
    </section>
  </div>
  

{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>