{% set title = "Турнир ТАКОЙТО Dota 2" %}

{% set team = ['Wings', 'OG', 'Evil Geniuses', 'EHOME', 'NewBee', 'Virtus.Pro', 'LGD.Forever Young', 'Invictus Gaming'] %}
{% set flag = ['1', '2', '3', '4', '5', '6'] %}
{% set rate = ['1,744', '1,622', '1,511', '1,497', '1,496', '1,469', '—'] %}
{% set logo = ['pic-20161110-600x600-7320131375.png', 'pic-20161110-300x300-2206743285.png', 'pic-20161110-600x600-5478339632.png', 'pic-20161110-500x500-918003572.png', 'pic-20161110-600x450-6323255579.png'] %}
{% set player = ['Bulba', 'Miracle', 'MATUMBAMAN ', 'KuroKy', 'MinD_ContRoL'] %}

<!DOCTYPE html>
<html>
{% include "template/head.html" %}
<body class="">
  <div class="container mainwrap pad120">
    <div class="otstup">
      {% include "template/header.html" %}
      <section class="t-top">
        <div class="heroBg" style="background-image:url(http://ggscore.com/media/tournament/pic-20160831-478x178-7586446600.jpeg);"></div>
        <h1>Dota 2 турнир WESG </h1>
      {% include "template/match-page/stage-block.html" %}
        
              
        
        <div class="pofblock share-it aborder draw meet">
          
            <h3 class="mlh"><span>Playoff</span></h3>
            <!-- как на GT -->
            <div class="torgrid">
              <div class="ps">
                <div style="position:relative; height:427px; width:100%;" id="grid">
                  <div style="position:absolute; top:0px; left:0px;" class="match_qtip">
                    <div style="position:absolute; top:-14px; left:0px;" class="match_round">Round of 12</div>
                    <ul>
                      <li rel="t6274">
                        <a title="Infamous" class="mteamlogo" href="/dota-2/team/infamous"> <img src="http://game-tournaments.com/media/flag/36.png"> Infamous </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч Infamous vs Dark Passage" href="/dota-2/wesg/playoff/infamous-vs-dp-41076"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t3792">
                        <a title="Dark Passage" class="mteamlogo" href="/dota-2/team/dp"> <img src="http://game-tournaments.com/media/flag/38.png"> DP </a> <b>0</b> </li>
                    </ul>
                    <div class="match_date">14 января, 06:00</div>
                  </div>
                  <div style="position:absolute; top:80px; left:0px;" class="match_qtip">
                    <ul>
                      <li rel="t11258">
                        <a title="DUOBAO Young" class="mteamlogo" href="/dota-2/team/duobao-young"> <img src="http://game-tournaments.com/media/flag/4.png"> DUOBAO.Y </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч DUOBAO Young vs MAX.Y" href="/dota-2/wesg/playoff/duobao-young-vs-max-y-41075"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t9859">
                        <a title="MAX.Y" class="mteamlogo" href="/dota-2/team/max-y"> <img src="http://game-tournaments.com/media/flag/4.png"> MAX.Y </a> <b>1</b> </li>
                    </ul>
                    <div class="match_date">14 января, 06:00</div>
                  </div>
                  <div style="position:absolute; top:160px; left:0px;" class="match_qtip">
                    <ul>
                      <li rel="t13002">
                        <a title="SG e-sports" class="mteamlogo" href="/dota-2/team/sg-esports"> <img src="http://game-tournaments.com/media/flag/19.png"> SGe </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч SG e-sports vs MVP Revolution" href="/dota-2/wesg/playoff/sg-esports-vs-mvp-r-41078"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t13064">
                        <a title="MVP Revolution" class="mteamlogo" href="/dota-2/team/mvp-r"> <img src="http://game-tournaments.com/media/flag/1.png"> MVP.R </a> <b>1</b> </li>
                    </ul>
                    <div class="match_date">14 января, 06:00</div>
                  </div>
                  <div style="position:absolute; top:240px; left:0px;" class="match_qtip">
                    <ul>
                      <li rel="t5437">
                        <a title="Team DileCom" class="mteamlogo" href="/dota-2/team/dilecom"> <img src="http://game-tournaments.com/media/flag/36.png"> DileCom </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч Team DileCom vs Team Romania" href="/dota-2/wesg/playoff/dilecom-vs-romania-41077"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t4170">
                        <a title="Team Romania" class="mteamlogo" href="/dota-2/team/romania"> <img src="http://game-tournaments.com/media/flag/39.png"> Romania </a> <b>0</b> </li>
                    </ul>
                    <div class="match_date">14 января, 06:00</div>
                    <div class="match_price">4 место<b>$120 000</b></div>
                    <div class="match_price mpr">1 место<b>$120000 000</b></div>
                  </div>
                  <div style="position:absolute; top:-14px; left:200px;" class="match_qtip">
                    <div style="position:absolute; top:-14px; left:0px;" class="match_round">1/4</div>
                    <ul>
                      <li rel="t7896">
                        <a title="To.be.or.not.to.be" class="mteamlogo" href="/dota-2/team/tot"> <img src="http://game-tournaments.com/media/flag/4.png"> T.O.T. </a> <b>0</b> </li>
                      <li class="match_info"> <a title="Матч To.be.or.not.to.be vs Infamous" href="/dota-2/wesg/playoff/tot-vs-infamous-41079"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t6274">
                        <a title="Infamous" class="mteamlogo" href="/dota-2/team/infamous"> <img src="http://game-tournaments.com/media/flag/36.png"> Infamous </a> <b class="mwin">2</b> </li>
                    </ul>
                    <div class="match_date">14 января, 09:00</div>
                  </div>
                  <div class="po1" style="width:30px; top:25px; left:170px;"></div>
                  <div class="po1" style="width:15px; top:-2px; left:185px;"></div>
                  <div class="po2" style="height:15px; top:-15px; left:185px;"></div>
                  <div style="position:absolute; top:66px; left:200px;" class="match_qtip">
                    <ul>
                      <li rel="t3799">
                        <a title="Cloud 9" class="mteamlogo" href="/dota-2/team/cloud9"> <img src="http://game-tournaments.com/media/flag/24.png"> Cloud9 </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч Cloud 9 vs DUOBAO Young" href="/dota-2/wesg/playoff/cloud9-vs-duobao-young-41080"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t11258">
                        <a title="DUOBAO Young" class="mteamlogo" href="/dota-2/team/duobao-young"> <img src="http://game-tournaments.com/media/flag/4.png"> DUOBAO.Y </a> <b>0</b> </li>
                    </ul>
                    <div class="match_date">14 января, 09:15</div>
                  </div>
                  <div class="po1" style="width:30px; top:105px; left:170px;"></div>
                  <div class="po1" style="width:15px; top:78px; left:185px;"></div>
                  <div class="po2" style="height:15px; top:65px; left:185px;"></div>
                  <div style="position:absolute; top:146px; left:200px;" class="match_qtip">
                    <ul>
                      <li rel="t11">
                        <a title="The Alliance" class="mteamlogo" href="/dota-2/team/alliance"> <img src="http://game-tournaments.com/media/flag/10.png"> Alliance </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч The Alliance vs SG e-sports" href="/dota-2/wesg/playoff/alliance-vs-sg-esports-41081"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t13002">
                        <a title="SG e-sports" class="mteamlogo" href="/dota-2/team/sg-esports"> <img src="http://game-tournaments.com/media/flag/19.png"> SGe </a> <b>0</b> </li>
                    </ul>
                    <div class="match_date">14 января, 09:15</div>
                  </div>
                  <div class="po1" style="width:30px; top:185px; left:170px;"></div>
                  <div class="po1" style="width:15px; top:158px; left:185px;"></div>
                  <div class="po2" style="height:15px; top:145px; left:185px;"></div>
                  <div style="position:absolute; top:226px; left:200px;" class="match_qtip">
                    <ul>
                      <li rel="t3593">
                        <a title="TnC Gaming" class="mteamlogo" href="/dota-2/team/tnc-gaming"> <img src="http://game-tournaments.com/media/flag/29.png"> TnC </a> <b class="mwin">2</b> </li>
                      <li class="match_info"> <a title="Матч TnC Gaming vs Team DileCom" href="/dota-2/wesg/playoff/tnc-gaming-vs-dilecom-41082"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t5437">
                        <a title="Team DileCom" class="mteamlogo" href="/dota-2/team/dilecom"> <img src="http://game-tournaments.com/media/flag/36.png"> DileCom </a> <b>1</b> </li>
                    </ul>
                    <div class="match_date">14 января, 09:00</div>
                  </div>
                  <div class="po1" style="width:30px; top:265px; left:170px;"></div>
                  <div class="po1" style="width:15px; top:238px; left:185px;"></div>
                  <div class="po2" style="height:15px; top:225px; left:185px;"></div>
                  <div style="position:absolute; top:27px; left:400px;" class="match_qtip">
                    <div style="position:absolute; top:-14px; left:0px;" class="match_round">1/2</div>
                    <ul>
                      <li rel="t6274">
                        <a title="Infamous" class="mteamlogo" href="/dota-2/team/infamous"> <img src="http://game-tournaments.com/media/flag/36.png"> Infamous </a> <b>1</b> </li>
                      <li class="match_info"> <a title="Матч Infamous vs Cloud 9" href="/dota-2/wesg/playoff/infamous-vs-cloud9-41083"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t3799">
                        <a title="Cloud 9" class="mteamlogo" href="/dota-2/team/cloud9"> <img src="http://game-tournaments.com/media/flag/24.png"> Cloud9 </a> <b class="mwin">2</b> </li>
                    </ul>
                    <div class="match_date">14 января, 11:46</div>
                  </div>
                  <div class="po1" style="width:15px; top:11px; left:370px;"></div>
                  <div class="po2" style="height:41px; top:11px; left:385px;"></div>
                  <div class="po1" style="width:15px; top:52px; left:385px;"></div>
                  <div class="po2" style="height:41px; top:52px; left:385px;"></div>
                  <div class="po1" style="width:15px; top:91px; left:370px;"></div>
                  <div style="position:absolute; top:187px; left:400px;" class="match_qtip">
                    <ul>
                      <li rel="t11">
                        <a title="The Alliance" class="mteamlogo" href="/dota-2/team/alliance"> <img src="http://game-tournaments.com/media/flag/10.png"> Alliance </a> <b>0</b> </li>
                      <li class="match_info"> <a title="Матч The Alliance vs TnC Gaming" href="/dota-2/wesg/playoff/alliance-vs-tnc-gaming-41084"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t3593">
                        <a title="TnC Gaming" class="mteamlogo" href="/dota-2/team/tnc-gaming"> <img src="http://game-tournaments.com/media/flag/29.png"> TnC </a> <b class="mwin">2</b> </li>
                    </ul>
                    <div class="match_date">14 января, 15:30</div>
                  </div>
                  <div class="po1" style="width:15px; top:171px; left:370px;"></div>
                  <div class="po2" style="height:41px; top:171px; left:385px;"></div>
                  <div class="po1" style="width:15px; top:212px; left:385px;"></div>
                  <div class="po2" style="height:41px; top:212px; left:385px;"></div>
                  <div class="po1" style="width:15px; top:251px; left:370px;"></div>
                  <div style="position:absolute; top:107px; left:600px;" class="match_qtip">
                    <div style="position:absolute; top:-14px; left:0px;" class="match_round">Final</div>
                    <ul>
                      <li rel="t3799">
                        <a title="Cloud 9" class="mteamlogo" href="/dota-2/team/cloud9"> <img src="http://game-tournaments.com/media/flag/24.png"> Cloud9 </a> <b>1</b> </li>
                      <li class="match_info"> <a title="Матч Cloud 9 vs TnC Gaming" href="/dota-2/wesg/playoff/cloud9-vs-tnc-gaming-41085"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t3593">
                        <a title="TnC Gaming" class="mteamlogo" href="/dota-2/team/tnc-gaming"> <img src="http://game-tournaments.com/media/flag/29.png"> TnC </a> <b class="mwin">2</b> </li>
                    </ul>
                    <div class="match_date">15 января, 06:00</div>
                  </div>
                  <div class="po1" style="width:15px; top:52px; left:570px;"></div>
                  <div class="po2" style="height:80px; top:52px; left:585px;"></div>
                  <div class="po1" style="width:15px; top:132px; left:585px;"></div>
                  <div class="po2" style="height:82px; top:132px; left:585px;"></div>
                  <div class="po1" style="width:15px; top:212px; left:570px;"></div>
                  <div style="position:absolute; top:307px; left:600px;" class="match_qtip">
                    <div style="position:absolute; top:-14px; left:0px;" class="match_round">3rd Place Match</div>
                    <ul>
                      <li rel="t6274">
                        <a title="Infamous" class="mteamlogo" href="/dota-2/team/infamous"> <img src="http://game-tournaments.com/media/flag/36.png"> Infamous </a> <b>1</b> </li>
                      <li class="match_info"> <a title="Матч Infamous vs The Alliance" href="/dota-2/wesg/playoff/infamous-vs-alliance-41086"><i class="fa fa-info-circle"></i></a> </li>
                      <li rel="t11">
                        <a title="The Alliance" class="mteamlogo" href="/dota-2/team/alliance"> <img src="http://game-tournaments.com/media/flag/10.png"> Alliance </a> <b class="mwin">2</b> </li>
                    </ul>
                    <div class="match_date">15 января, 09:53</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- как на GT -->
            
            <ul class="news-soc">
              <li><a href="javascript:;" onclick="Share.vkontakte();" class="hi-1 hi-1a"><i class="gti-vk"></i><span class="share-vk"></span></a></li>
              <li><a href="javascript:;" onclick="Share.facebook();" class="hi-1 hi-1a"><i class="gti-fb"></i><span class="share-fb"></span></a></li>
              <li><a href="javascript:;" onclick="Share.twitter();" class="hi-1 hi-1a"><i class="gti-tw"></i><span class="share-tw"></span></a></li>
              <li><a href="javascript:;" onclick="Share.google();" class="hi-1 hi-1a"><i class="gti-gg"></i><span class="share-gg"></span></a></li>
            </ul>
        </div>
      </section>
      
      <section class="m-sec m-odd">
        <div class="row">
          <div class="col-md-8">
            <div class="t-m-block">
               <h3 class="mlh" style="margin-bottom: -14px;"><span>Матчи</span></h3>

              {% include "template/match-list/match-list2.html" %}

              {% include "template/match-list/match-list-future.html" %}

              {% include "template/match-list/match-list-past.html" %}
              {% include "template/pager.html" %}
            </div>
          </div>
          <div class="col-md-4">
            {% include "template/tours/tour-block.html" %}
            {% include "template/liveblock.html" %}

            <h4 class="mlh"><span>Новости турнира</span></h4>
            {% include "template/news/newslist-block-mini.html" %}
            {% include "template/pager.html" %}

          </div>
        </div>
      </section>
      
    {#
      <div class="bn">
        <img src="../img/ad.jpg" alt="">
      </div>
    #}
      {% include "template/breadcrumbs.html" %}
      {% include "template/footer.html" %}
    </div>
  </div>
{% include "template/branding.html" %}
{% include "template/bar.html" %}
{% include "template/modal.html" %}
{% include "template/scripts.html" %}

</body>
</html>